<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

@import "reset.css";
/* ----------- */



@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap')



@font-face {
	font-family: adega;
	src: url(/fonts/adega.otf);
  }


/* -------------------- */
/* -- FONTS -- */
/* -------------------- */

@font-face {
	font-family: frogmore;
	src: url(/fonts/Frogmore.ttf);
  }

  @font-face {
	font-family: adega;
	src: url(/fonts/adega.otf);
  }



#frogmore {
	font-family: frogmore; 
	font-size: 200px;}





/* -------------------- */
/* --HEADER -- */
/* -------------------- */



#weddingcele {

	margin-top: 60px;
	color: #FFE3D7;

}




ul.nav li a, ul.nav li a:visited {
    color: #FFE3D7 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #FFE3D7 !important;
}

ul.nav li.active a {
    color:  #FFE3D7 !important;
}




/* --------- */
/* -- Nav -- */
/* --------- */
#navigation {
font-family: adega;
margin: 15px

}



#border
{ 

	border-style: dotted;
	border-width: 2.7px;
	border-color: #FFE3D7;
}

#nav ul{
	margin:30px;
	padding:20px;
	font-size: 20px;
	border-width:2px;
	border-style:dotted;
	border-color:#FFE3D7;
	

}


#nav ul li{

	list-style:none !important;
	margin:20px;
	display: inline !important;
	padding: 10px;



	
	
}
#nav ul li a{
	margin:0 0 0 1px;
	padding:0;
	font-size:40px;

	
	
}
#nav ul li a:hover{
	color:#F34607;
}
#nav li span{
	padding:20px;
	color:#555;
	font-size:20px;
}
#nav li .current{
	color:#F34607; }





.cache-images{
	visibility:hidden;
}






body{
	
	background-color:#B32D25 !important;
	line-height:24px;
	font-size:16px;
	text-align:center;
	font-family: adega !important;
	color: #FFE3D7 !important;
}



/* ----------------- */
/* -- Main Layout -- */
/* ----------------- */



/* RSVP Form Styles */
#rsvpForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: ;
 
}

#rsvpForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#rsvpForm input[type="text"],
#rsvpForm input[type="number"],
#rsvpForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#rsvpForm input[type="submit"] {

    color: #B32D25;
	background-color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
	border-color: #ccc;
    cursor: pointer;
    font-size: 23px !important;
	font-weight: bold;

}

#rsvpForm input[type="submit"]:hover {
    
}

#comments {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


div.mycontainer {
	width:100%;
	overflow:auto;
  }
  div.mycontainer div {
	width:50%;  
	float:left;
  }



  #frontpage-content a {
color: #FFE3D7;


  }


  /*ACCORDIION*/

  .accordion {
  background-color:#B32D25 ;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: dotted;
  border-width: 2px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color:#B32D25; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #B32D25 ;
  overflow: hidden;
}

#linklist ul

{
	line-height: 20px;
}

